/* COMPONENTS */

.header, .footer {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* NEWS */

.news__heading {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.news__item {
  padding: 7px;
  /* border-radius: 10px;
  border-bottom: 2px solid #000; */
}

.news__title {
  font-weight: bold;
  font-size: 18px;
}

/* PULL_TO_REFRESH */ 

.ptr {
  margin-top: 40px;
}

.ptr--dragging div.ptr__pull-down--pull-more p {
  display: none;
}

.ptr--dragging div.ptr__pull-down--pull-more div::after {
  content: 'Потяни, чтобы обновить';
  display: block;
  text-align: center;
}

/* THEMES */

.themes__items {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.themes__item {
  width: 70vw;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 15px;
}

.themes__item:hover {
  transform: scale(1.1);
}

.themes__item:last-child {
  margin-bottom: 0;
}
